*,
*::before,
*::after {
  box-sizing: border-box;
}
* {
  margin: 0;
  padding: 0;
  font: inherit;
}

@font-face {
  font-family: "Finger Paint";
  src: url("/fonts/FingerPaint-Regular.ttf");
}

@font-face {
  font-family: "Grilled Cheese";
  src: url("fonts/GrilledCheeseBTNRegular.ttf");
}

body {
  min-height: 100vh;
  background: linear-gradient(
    rgba(93, 95, 239, 1) 0%,
    rgba(132, 60, 224, 1) 100%
  );
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

img,
picture,
svg,
video {
  display: block;
  max-width: 100%;
}

/*   
  HEADER 
*/

.header {
  display: flex;
  justify-content: center;
}
.heading {
  font-size: 4.5rem;
  font-family: "Finger Paint", sans-serif;
}

/*
  MAIN
*/
.main {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.gameboardPVP {
  display: flex;
  gap: 4rem;
}

.player_card {
  height: 300px;
  width: 125px;
  align-self: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.player_info {
  border: 3px solid black;
  background-color: white;
  border-radius: 1rem;
  height: 200px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  justify-content: center;
}

.board_and_buttons {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.gameboard {
  display: grid;
  width: 500px;
  height: 500px;
  border: 4px solid black;
  border-radius: 2em;
  grid-template: repeat(3, 1fr) / repeat(3, 1fr);
  background-color: black;
  grid-gap: 4px;
  overflow: hidden;
}

.gameboard > div {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 4rem;
  background-color: white;
}

.gameboard-buttons {
  display: flex;
  gap: 1rem;
  justify-content: center;
}

.gameover-overlay {
  width: 500px;
  height: 500px;
  border-radius: 2em;
  display: none;
  color: white;
  font-size: 3rem;
  font-weight: bold;
  place-content: center;
  position: absolute;
}
